h1{
  text-align: center;
  font-family: Lato;
}

nav {
  background-color: rgb(224, 14, 14);
  position:absolute;
  top: 100px;
  width: 98.8%;
}

nav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Lato;
}

nav a:hover {
  background: rgb(143, 228, 74);
  color: black;
}
nav a.active{
  color: rgb(3, 3, 3);
  background: rgb(210, 173, 253);
}

